.airpad{
    width: 550px;
    height: 550px;
}

.airpad2{
    width: 450px;
    height: 500px;
}

.airpad3{
    width: 600px;
    height: 400px;
}

.lien{
    color: black;
}

a:hover{
    color: rgb(119, 119, 255);
}

table, th, tr, td{
    border: 1px solid blue;
}