.lien{
    color: black;
}

a:hover{
    color: crimson;
}

h2{
  font-size: xx-large;  
}

.ecran {
  width: 500px;
  height: 500px;
  
}


  span {
    background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,0.5) 0%, rgba(200,148,50,0.5) 17%,
 rgba(253,29,82,0.5) 50%, rgba(200,133,50,0.5) 83%, rgba(180,58,58,0.5) 100%);
}

table, th, td, th {
  border: 1px solid rgb(156, 0, 0);
}
